<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form id="login-form">
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>
<div id="token-container">
    <!-- 토큰을 여기에 표시 -->
</div>

<script>
    const loginForm = document.getElementById('login-form');
    const tokenContainer = document.getElementById('token-container');

    // 이벤트 리스너를 사용하여 폼 제출 시 호출
    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(loginForm);
        const response = await fetch('/auth/admin/login', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            const accessToken = await response.text();
            localStorage.setItem('accessToken', accessToken);

            // 액세스 토큰을 헤더에 추가
            const headers = {
                'Authorization': `Bearer ${accessToken}`
            };

            // 다른 URL로 이동
            fetch('/admins/table', {
                method: 'GET',
                headers: headers
            })
            .then(response => {
                if (response.ok) {
                    // 페이지 이동에 성공한 경우
                    window.location.href = '/admins/table'; // 원하는 URL로 이동
                } else {
                    console.error('Failed to fetch data:', response.status);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        } else {
            tokenContainer.innerHTML = 'Login failed';
        }
    });

</script>
</body>
</html>
