<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>관리자 로그인</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <form id="login-form">
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
      <label for="password">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
  <div id="token-container">
<!--    로그인 실패 시 나타나는 창-->
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

<script>
  const loginForm = document.getElementById('login-form');
  const tokenContainer = document.getElementById('token-container');

  // 이벤트 리스너를 사용하여 폼 제출 시 호출
  loginForm.addEventListener('submit', async (e) => {
    e.preventDefault();

    const formData = new FormData(loginForm);
    const response = await fetch('/auth/admin/login', {
      method: 'POST',
      body: formData
    });

    if (response.ok) {
      const accessToken = await response.text();
      localStorage.setItem('accessToken', accessToken);

      // 액세스 토큰을 헤더에 추가
      const headers = {
        'Authorization': `Bearer ${accessToken}`
      };

      // 다른 URL로 이동
      fetch('/auth/admin/login', {
        method: 'GET',
        headers: headers
      })
      .then(response => {
        if (response.ok) {
          window.location.href = '/admins/view/list';
        } else {
          console.error('Failed to fetch data:', response.status);
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    } else {
      tokenContainer.innerHTML = 'Login failed';
    }
  });

</script>
</html>
